In [1]:
import pandas as pd 
import numpy as  np

In [2]:
data = pd.read_csv(r'C:\\Users\\HP\\Downloads\\mybooks\\project\\ads-proj\\ad-sales-ml-proj\\data\\MarketingReportCoreCSV.csv', sep=';', header= 0)

In [3]:
data.head(5)

,periodCode,reportGranularity,salesChannel,platformCode,channelCode,tagCodes,marketingInvestment,impressions,clicks,visits,conversions,deliveries,currencyCode,appliedAttributionModel,periodStartDate
0,20200102,Daily,online,Not tracked,notset,NaN,0,0,0,0,16,14,CZK,lastTouch,2020-01-02T00:00:00.0000000
1,20200103,Daily,online,Not tracked,notset,NaN,0,0,0,0,13,13,CZK,lastTouch,2020-01-03T00:00:00.0000000
2,20200104,Daily,online,Not tracked,notset,NaN,0,0,0,0,6,6,CZK,lastTouch,2020-01-04T00:00:00.0000000
3,20200105,Daily,online,Not tracked,notset,NaN,0,0,0,0,1,1,CZK,lastTouch,2020-01-05T00:00:00.0000000
4,20200105,Daily,online,Not tracked,notset,NaN,0,0,0,0,9,9,CZK,lastTouch,2020-01-05T00:00:00.0000000

In [4]:
data["periodCode"] = data["periodStartDate"]

In [5]:
data.head()

,periodCode,reportGranularity,salesChannel,platformCode,channelCode,tagCodes,marketingInvestment,impressions,clicks,visits,conversions,deliveries,currencyCode,appliedAttributionModel,periodStartDate
0,2020-01-02T00:00:00.0000000,Daily,online,Not tracked,notset,NaN,0,0,0,0,16,14,CZK,lastTouch,2020-01-02T00:00:00.0000000
1,2020-01-03T00:00:00.0000000,Daily,online,Not tracked,notset,NaN,0,0,0,0,13,13,CZK,lastTouch,2020-01-03T00:00:00.0000000
2,2020-01-04T00:00:00.0000000,Daily,online,Not tracked,notset,NaN,0,0,0,0,6,6,CZK,lastTouch,2020-01-04T00:00:00.0000000
3,2020-01-05T00:00:00.0000000,Daily,online,Not tracked,notset,NaN,0,0,0,0,1,1,CZK,lastTouch,2020-01-05T00:00:00.0000000
4,2020-01-05T00:00:00.0000000,Daily,online,Not tracked,notset,NaN,0,0,0,0,9,9,CZK,lastTouch,2020-01-05T00:00:00.0000000

In [7]:
data['periodCode'] = data['periodCode'].str.replace('T00:00:00.0000000', '')
data['periodCode'] = pd.to_datetime(data['periodCode'])

C:\Users\HP\AppData\Local\Temp\ipykernel_8144\2931560917.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['periodCode'] = data['periodCode'].str.replace('T00:00:00.0000000', '')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8835 entries, 0 to 8834
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   periodCode               8835 non-null   datetime64[ns]
 1   reportGranularity        8835 non-null   object
 2   salesChannel             8835 non-null   object
 3   platformCode             8835 non-null   object
 4   channelCode              8835 non-null   object
 5   tagCodes                 81 non-null     object
 6   marketingInvestment      8835 non-null   object
 7   impressions              8835 non-null   int64
 8   clicks                   8835 non-null   int64
 9   visits                   8835 non-null   int64
 10  conversions              8835 non-null   int64
 11  deliveries               8835 non-null   int64
 12  currencyCode             8835 non-null   object
 13  appliedAttributionModel  8835 non-null   object
 14  periodStartDate          8835 non-null   object
dtypes: datetime64[ns](1), int64(5), object(9)
memory usage: 1.0+ MB

In [9]:
unwantedCols = ["reportGranularity","salesChannel", "tagCodes","currencyCode", "appliedAttributionModel", "periodStartDate"]

In [10]:
adsData = data.drop(unwantedCols, axis = 1)

In [11]:
adsData.head()

,periodCode,platformCode,channelCode,marketingInvestment,impressions,clicks,visits,conversions,deliveries
0,2020-01-02,Not tracked,notset,0,0,0,0,16,14
1,2020-01-03,Not tracked,notset,0,0,0,0,13,13
2,2020-01-04,Not tracked,notset,0,0,0,0,6,6
3,2020-01-05,Not tracked,notset,0,0,0,0,1,1
4,2020-01-05,Not tracked,notset,0,0,0,0,9,9

In [12]:
adsData['platformCode'].value_counts()

Silverpop                     3556
HeurekaCz                     1642
AdWords                       1072
Sklik                         1027
unpaid                         824
FirmyCz                        183
RtbHouse                       168
ZboziCz                        164
Not tracked                    131
FacebookBusinessAdsManager      60
Adform                           5
Bing                             3
Name: platformCode, dtype: int64

In [13]:
# sourcery skip: avoid-builtin-shadow
list = ["unpaid", "Not Tracked"]
organic = adsData.loc[(adsData["platformCode"].isin(list))]

In [14]:
organic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 824 entries, 215 to 8605
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   periodCode           824 non-null    datetime64[ns]
 1   platformCode         824 non-null    object
 2   channelCode          824 non-null    object
 3   marketingInvestment  824 non-null    object
 4   impressions          824 non-null    int64
 5   clicks               824 non-null    int64
 6   visits               824 non-null    int64
 7   conversions          824 non-null    int64
 8   deliveries           824 non-null    int64
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 64.4+ KB

In [15]:
organic.tail(10)

,periodCode,platformCode,channelCode,marketingInvestment,impressions,clicks,visits,conversions,deliveries
8422,2020-03-23,unpaid,referral,0,0,0,105,0,0
8423,2020-03-24,unpaid,referral,0,0,0,102,0,0
8424,2020-03-25,unpaid,referral,0,0,0,96,0,0
8425,2020-02-29,unpaid,referralradiobeat,0,0,0,1,0,0
8426,2020-03-19,unpaid,referralradiobeat,0,0,0,1,0,0
8548,2020-02-14,unpaid,notset,0,0,0,0,1,1
8549,2020-02-23,unpaid,notset,0,0,0,0,1,1
8550,2020-03-02,unpaid,notset,0,0,0,0,1,1
8604,2020-02-07,unpaid,notset,0,0,0,0,1,1
8605,2020-03-06,unpaid,notset,0,0,0,0,1,1

In [16]:
organic = organic.reset_index()

In [17]:
channels = ["Silverpop", "HeurekaCz", "FirmyCz", "ZboziCz", "RtbHouse", "AdWords", "Adform","FacebookBusinessAdsManager", "Sklik", "Bing"]
paidTraffic = adsData.loc[(adsData["platformCode"].isin(channels) )]

In [18]:
paidTraffic["marketingInvestment"] =  paidTraffic["marketingInvestment"].str.replace(",", ".")
paidTraffic["marketingInvestment"] =  paidTraffic["marketingInvestment"].astype(float)

C:\Users\HP\AppData\Local\Temp\ipykernel_8144\2185682756.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paidTraffic["marketingInvestment"] =  paidTraffic["marketingInvestment"].str.replace(",", ".")
C:\Users\HP\AppData\Local\Temp\ipykernel_8144\2185682756.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paidTraffic["marketingInvestment"] =  paidTraffic["marketingInvestment"].astype(float)

In [19]:
paidTraffic = paidTraffic.groupby(["periodCode",  "platformCode", "channelCode"])["marketingInvestment","clicks", "visits", "impressions", "conversions", "deliveries" ].sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_8144\1118562916.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  paidTraffic = paidTraffic.groupby(["periodCode",  "platformCode", "channelCode"])["marketingInvestment","clicks", "visits", "impressions", "conversions", "deliveries" ].sum()

In [20]:
paidTraffic = paidTraffic.reset_index()

In [21]:
paidTraffic.head()

,periodCode,platformCode,channelCode,marketingInvestment,clicks,visits,impressions,conversions,deliveries
0,2020-01-02,AdWords,adwords_bra,167.09,266,306,408,4,4
1,2020-01-02,AdWords,adwords_dsa,31.06,12,11,370,0,0
2,2020-01-02,AdWords,adwords_pla,10868.92,2609,2667,191564,27,27
3,2020-01-02,AdWords,adwords_rem,762.06,386,429,24668,3,3
4,2020-01-02,AdWords,adwords_sea,41.59,26,36,531,0,0

In [22]:
organic["marketingInvestment"] =  organic["marketingInvestment"].str.replace(",", ".")
organic["marketingInvestment"] =  organic["marketingInvestment"].astype(float)
organic = organic.groupby(["periodCode",  "platformCode", "channelCode"])["marketingInvestment","clicks", "visits", "impressions", "conversions", "deliveries" ].sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_8144\1854776729.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  organic = organic.groupby(["periodCode",  "platformCode", "channelCode"])["marketingInvestment","clicks", "visits", "impressions", "conversions", "deliveries" ].sum()

In [24]:
organic = organic.reset_index()

In [25]:
organic.head()

,periodCode,platformCode,channelCode,marketingInvestment,clicks,visits,impressions,conversions,deliveries
0,2020-01-02,unpaid,direct,0.0,0,502,0,7,6
1,2020-01-02,unpaid,facebook,0.0,0,34,0,1,1
2,2020-01-02,unpaid,internal,0.0,0,130,0,0,0
3,2020-01-02,unpaid,notset,0.0,0,33,0,2,2
4,2020-01-02,unpaid,organic,0.0,0,678,0,7,7

In [26]:
organic.tail()

,periodCode,platformCode,channelCode,marketingInvestment,clicks,visits,impressions,conversions,deliveries
523,2020-03-25,unpaid,facebook,0.0,0,49,0,0,0
524,2020-03-25,unpaid,internal,0.0,0,463,0,0,0
525,2020-03-25,unpaid,notset,0.0,0,37,0,0,0
526,2020-03-25,unpaid,organic,0.0,0,604,0,0,0
527,2020-03-25,unpaid,referral,0.0,0,96,0,0,0